<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Blogs</h5>
            {{#each blogs as |blog|}}
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-subtitle mb-2 text-muted">Created by {{blog.user.username}} on {{format_date blog.date_created}}</p>
              </div>
              <div class="card-body">
                <p class="card-text">{{blog.description}}</p>
              </div>
              <div class="card-footer">
                <a href="/blogs/{{blog.id}}" class="btn btn-primary">Read More</a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>